<a href="https://colab.research.google.com/github/Riturajkumari/skills_basic_python/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create a python program to sort the given list of tuples based on integer value using a 
lambda function.**

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [17]:
list1= [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [18]:
print(list1)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [23]:
def list_tup(list):
  return(sorted(list1, key = lambda x: x[1])) 
print(list_tup(list1))

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [24]:
list1= sorted(list1, key = lambda x: x[1])

In [25]:
list1

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

**Write a Python Program to find the squares of all the numbers in the given list of integers using 
lambda and map functions**
[1,2,3,4,5,6,7,8,9,10]

In [37]:
def double(x):
  return x*x
  
my_list = [1, 2, 3, 4, 5, 6,7,8,9,10]
new_list = list(map(double, my_list))
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
new_list = list(map(lambda x: x*x, my_list))

In [39]:
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Write a python program to convert the given list of integers into a tuple of strings. Use map and 
lambda function**

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [42]:
string=[1,2,3,4,5,6,7,8,9,10]

In [43]:
string=tuple(string)

In [44]:
string

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [47]:
tuple1 = tuple(map(lambda x: x, string))

In [48]:
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**Write a python program using reduce function to compute the product of a list containing numbers 
from 1 to 25**

In [61]:
l1= list(range(1,26))

In [68]:
from functools import reduce 
import functools

 
# importing functools for reduce()
import functools
 
# importing operator for operator functions
import operator
# using reduce to compute product
print(functools.reduce(operator.mul, l1))

15511210043330985984000000

**Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the 
filter function.**


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [74]:
l1=[2,3,6,9,27,60,90,120,55,46]

In [75]:
result = list(filter(lambda x: (x % 2 and x%3), l1)) 
result

[55]

**Q6. Write a python program to find palindromes in the given list of strings using lambda and filter 
function.**


['python', 'php', 'aba', 'radar', 'level']

In [76]:
l1=['python', 'php', 'aba', 'radar', 'level']

In [77]:
result = list(filter(lambda x: (x == "".join(reversed(x))), l1))

In [78]:
result

['php', 'aba', 'radar', 'level']