<a href="https://colab.research.google.com/github/Riturajkumari/skills_basic_python/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # 1.Explain with an example each when to use a for loop and a while loop.

- For loop is used to iterate over elements of a sequence. It is often used when you have a piece of code which you want to repeat “n” number of time.
- “for loops” are called iterators.
- For Loop” is also used to repeat the program.
- “For Loop” depends on the elements it has to iterate.

In [ ]:
# define for loop
for i in range(2,7):
  print(i)

2
3
4
5
6

In [ ]:
l1=["ritu","raj","kumari","madhu"]

In [ ]:
for i in l1:
  if i =="kumari":
    continue
  print(i)
else:
  print("execute this if for loop is able to complete itself.")

ritu
raj
madhu
execute this if for loop is able to complete itself.

- while loop we can execute a set of statements as long as a condition is true.
- break statement we can stop the loop even if the while condition is true:
- continue statement we can stop the current iteration, and continue with the next:

In [ ]:
count = 0
while (count < 5): 
    count += 1 
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [17]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

**write a python program to print the sum and product of the first 10 natural numbers using for and while loop.**

In [ ]:
# while loop for sum
s,i=0,0
n=10
while i<n:
  i=i+1
  s=s+i
print("sum of first 10 natural number",s)

sum of first 10 natural number 55

In [ ]:
# for loop for sum
sum=0
for i in range(1,11):
  sum=sum+i
print("sum of first 10 natural numbers:",sum)

sum of first 10 natural numbers: 55

In [ ]:
# for loop for product
number = int(input("Enter a number:"))
p=1
for i in range(1,11):
  p=p*i
print("sum of first 10 natural numbers:",p)

Enter a number:10
sum of first 10 natural numbers: 3628800

In [ ]:
# while loop for product
n = int(input("Enter a number:"))
product=1
i=1
while(i<=n):
  product= product*i
  i=i+1
print("the product is:",product)

Enter a number:10
the product is: 3628800

In [ ]:
num =int(input("enter a number:"))
k=1
for i in range(10):
  num = num*k
  print(num)
  k= k+1

enter a number:10
10
20
60
240
1200
7200
50400
403200
3628800
36288000

 Create a python program to compute the electricity bill for a household.
 
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print 
that list.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per 
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will 
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.


You are required to take the units of electricity consumed in a month from the user as input.


Your program must pass this test case: when the unit of electricity consumed by the user in a month is 
310, the total electricity bill should be 2250

In [2]:
unit = int(input("Enter the units of electricity bill: "))

if unit <= 100:
    bill = unit * 4.5
elif unit <= 200:
    bill = 100 * 4.5 + (unit - 100) * 6
elif unit <= 300:
    bill = 100 * 4.5 + 100 * 6 + (unit - 200) * 10
else:
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (unit - 300) * 20

print("The total electricity bill is: Rs.", bill)

Enter the units of electricity bill: 60
The total electricity bill is: Rs. 270.0

 **Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print 
that list**

In [16]:
numbers = []
cube_divisible = []

for i in range(1, 101):
    numbers.append(i)
    cube = i * 3
    if cube % 4 == 0 or cube % 5 == 0:
        cube_divisible.append(cube)

print("The list of cubes that are divisible by 4 or 5:", cube_divisible)

The list of cubes that are divisible by 4 or 5: [12, 15, 24, 30, 36, 45, 48, 60, 72, 75, 84, 90, 96, 105, 108, 120, 132, 135, 144, 150, 156, 165, 168, 180, 192, 195, 204, 210, 216, 225, 228, 240, 252, 255, 264, 270, 276, 285, 288, 300]

**Write a program to filter count vowels in the below-given string.**

string = "I want to become a data scientist"

In [14]:
string = "I want to become a data scientist"
vowels="aeiouAEIOU"
count =0
for i in string:
    if i in vowels:

      count +=1
print(count)

12