<a href="https://colab.research.google.com/github/Riturajkumari/skills_basic_python/blob/main/pandas_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. **Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [ ]:
data=[4,8,15,16,23,42]

In [ ]:
import pandas as pd
data= pd.Series(data)
data

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. **Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [5]:
data = range(1,10)

In [6]:
data

range(1, 10)

In [8]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
df = pd.Series(data)
df

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

Q3. **Create a Pandas DataFrame that contains the following data:**

In [ ]:
# import pandas as pd
import pandas as pd
 
# Calling DataFrame constructor
df = pd.DataFrame(data)
 
print(df)

    0
0   4
1   8
2  15
3  16
4  23
5  42

Q4. **What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

- Series is a type of list in pandas which can take integer values, string values, double values and more. 
 -  Pandas Series we return an object in the form of list, having index starting from 0 to n, Where n is the length of values in series. 
 - Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

In [ ]:
#  Creating a Series 
#importing pandas library
import pandas as pd

#Creating a list
author = ['AAA', 'BBB', 'CCC', 'DDD']
#Creating a Series by passing list variable to Series() function
auth_series = pd.Series(author)
#Printing Series
print(auth_series)

0    AAA
1    BBB
2    CCC
3    DDD
dtype: object

In [ ]:
# creating a pandas
# Creating Dataframe from multiple Series 
#Importing Pandas library
import pandas as pd

#Creating two lists
author = ['AAA', 'BBB', 'CCC', 'DDD']
article = [210, 211, 114, 178]
#Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
#Creating a dictionary by passing Series objects as values
frame = { 'Author': auth_series, 'Article': article_series }
#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
#Printing elements of Dataframe
print(result)

  Author  Article
0    AAA      210
1    BBB      211
2    CCC      114
3    DDD      178

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

-  Pandas is an open-source library that is used from data manipulation to data analysis & is very powerful, flexible & easy to use tool which can be imported using import pandas as pd. Pandas deal essentially with data in 1-D and 2-D arrays; Although, pandas handles these two differently. In pandas, 1-D arrays are stated as a series & a dataframe is simply a 2-D array. 
   -  import the library which is used in data manipulation i.e. pandas then assign and read the dataframe:

In [1]:
# import module
import pandas as pd

# assign dataset
df = pd.read_csv("iris.csv")

# display
print("Type-", type(df))
df

Type- <class 'pandas.core.frame.DataFrame'>

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

Q6.**Which of the following is mutable in nature Series, DataFrame, Panel?**

- Series – 1D labeled homogeneous array, sizeimmutable
- Data Frames – 2D labeled, size-mutable tabular structure with heterogenic columns
- Panel – 3D labeled size mutable array.

**Key Features of a Series:**
- Homogeneous data
- Size Immutable –size cannot be changed
- Values of Data Mutable

**Key Features of a DataFrame:**
- Heterogeneous data
- Size Mutable
- Data Mutable

**Key Features of a Panel:**
- Heterogeneous data
- Size Mutable
- Data Mutable

Q7. **Create a DataFrame using multiple Series. Explain with an example**

In [2]:
import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000